#timer {
	height: 20px;
	width: 20px;
	float:right;
	margin-top: -5px;
	margin-right: -5px;
}

#claim {
	max-width: 700px;
	margin: auto;
}

#claim h1 {
	font-size: 18px;
	font-weight: normal;
}

#question {
	margin-top: 20px;
}

#question h2{
	font-size: 16px;
	margin-left: 50px;
	color: #669999;
}

#responses {
	height: 50px;
	width: 660px;
	margin: auto;
	margin-top: 10px;
}

#responses li {
	list-style: none;
	float: left;
}

#responses li a {
	display: block;
	border: 1px solid black;
	padding: 5px 10px;
	width: 100px;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	color: #333333;
}